// Non-modular or client styles for .l-footer region.


.l-footer {
  background-color: #2c2d2d;
  color: #aaa;  
  margin-top: 0;
  padding: ($global-margin * 2) 0;
  border-top: 2px solid black;

  h3 {
    color: #fff;
  }

  .no-wrap {
    white-space: nowrap;
  }

  a{
    color: lighten(#797e80, 35%);
    @include transition-property(color);
    @include transition-duration(600ms);
    &:hover {
      color: #f25c24;
    }  
  }

}

.contact-info {
  li {
    list-style: none;
  }
}

.l-footer-columns {}

