// Non-modular or client styles for the .l-content region.

.l-main {
  margin-top: 0;
  padding: ($global-margin) 0;

  .block-title {
    margin-bottom: $global-margin;
    border-bottom: 1px dotted #757A7C;
  }

}

.main {
  @extend .box-shadow;
}

// Page Title
.content-header {
  background-color: $secondary-color;
  margin-top: emCalc($global-margin);
  margin-bottom: 0; 
}

#page-title {
    color: #fff;
}

.node {}
.body {}
.image {}
.breadcrumb {}

#clients {
  background-color: #fff;
  color: #fff !important;
  padding: emCalc($global-margin) 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  a {
    font-size: emCalc(16px);
    color: #f25c24;

    & img {
      margin: emCalc($global-margin) 0;
      @include opacity(0.65);
    }

    &:hover img {
      @include opacity(1);
    }
  }
}

/*--------------------------------------------*/
/*  Sidebar
/*--------------------------------------------*/
.sidebar {
  padding-right: 0;

  @media #{$small-only} {
    padding-left: 0;
  }
}

/*--------------------------------------------*/
/*  Toggle Menu Dropdown List
/*--------------------------------------------*/
.toggle-menu{
  text-align: center; //centers the text for every <li>

  // Makes the default Toggle menu look.
  & > li {
    color: #333;
    background-color: #eeeeee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    cursor: pointer;
  }

  //  Hover status of the toggle menu
  & > li:hover {
    color: #333;
    background-color: #ddd;
    background-image: linear-gradient(#ddd, #eee);
    border-radius: 3px;
    border: 1px solid #888;
    cursor: pointer;
  }

  & h3 {
    color: #333;
  }
}
